<!-- 页面尾部 -->
<footer class="bottom-1">
  <div class="left">
    <p>投诉联系：xxxxxxx</p>
    <p>少上点网，多点运动；好好学习，天天向上。</p><br>
    <p>人活着是没有意义的,但只有活下去,才能发现快乐的事情。就如</p>
    <p>你看到那花,就如我看到你。《火影忍者》</p>
  </div>
  <div class="right">
    本站只提供资讯，不提供任何上传下载服务，所有内容均来自分享站点所提供的公开引用资讯。 如果有版权违规内容，请通知作者删除。 本站不支持 IE8 浏览器 如果网页显示不正常，请升级到 IE9 及以上 推荐使用 IE11、Firefox、Chrome 等专业浏览器
  </div>
</footer>

<footer class="bottom-2">
  magnet:?xt=urn:btih: Power by LaoSiJi Copyright © 2011-2017 老司机神秘代码 All Rights Reserved Sitemap txt
</footer>
